<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo1.mapper.UserMapper">
  <select id="getAllSelect" parameterType="com.example.demo1.entity.request.UserRequest" resultType="com.example.demo1.entity.response.UserResponse">
    select * from user
    <where>
      <if test="id != null">
        AND id=#{id}
      </if>
      <if test="gender != null">
        AND gender=#{gender}
      </if>
    </where>
  </select>
</mapper>
